<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Thymeleaf layout</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" media="all"
	th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
 <script>
  function forward() {
   setTimeout("forward()", 100);
   history.forward();
  }
  if (document.all)
   history.forward(); //for IE、Edge
  else
   setTimeout("forward()", 100); //for Chrome、Firefox
 </script>
</head>

<body>
	<div>
		<table>
			<tr>
				<td class="collapse" id="navbarToggleExternalContent" valign="top" rowspan="2" height="930px" width="300px"
					style="background-color: #e3f2fd"><br />
					<h2>&nbsp;&nbsp;流水帳管理系統</h2>     <!--左側超連結由此編輯 -->
         <div id="divManagerBc" >
          &emsp;&emsp;&emsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
        <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
      </svg>&nbsp;管理者後台<br>&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
        <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
        <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
      </svg>&nbsp;<a href="/SystemAdmin/UserList">會員管理</a>
<!--           <nav aria-label="breadcrumb"> -->
<!--            <ol class="breadcrumb"> -->
<!--             <li class="breadcrumb-item">管理者後台</li> -->
<!--             <li class="breadcrumb-item active" aria-current="page"><a href="/UserList">會員管理</a></li> -->
<!--            </ol> -->
<!--           </nav> -->
         </div>
      
      &emsp;&emsp;&emsp;
         <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
      <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
      </svg>&nbsp;後台管理<br>&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
      <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
      <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
      </svg>&nbsp;<a href="/SystemAdmin/UserProfile">個人資訊</a>
      
      <br />&emsp;&emsp;&emsp;
         <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-folder2-open" viewBox="0 0 16 16">
       <path d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14V3.5zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5V6zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7H1.633z"/>
      </svg>&nbsp;流水帳紀錄<br>&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
       <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
       <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
      </svg>&nbsp;<a href="/SystemAdmin/AccountList">流水帳管理</a>
      <br />&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
       <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
       <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
      </svg>&nbsp;<a href="/SystemAdmin/CategoryList">流水帳分類管理</a>
   <!--    <div id="divManagerBc" >
      <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
        <li class="breadcrumb-item">管理者後台</li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/SystemAdmin/UserList">會員管理</a></li>
       </ol>
      </nav>
     </div>

     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
       <li class="breadcrumb-item">後台管理</li>
       <li class="breadcrumb-item active" aria-current="page"><a href="/SystemAdmin/UserProfile">個人資訊</a></li>
      </ol>
     </nav>

     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
       <li class="breadcrumb-item">流水帳紀錄</li>
       <li class="breadcrumb-item active" aria-current="page"><a href="/SystemAdmin/AccountList">流水帳管理</a></li>
       <li class="breadcrumb-item active" aria-current="page"><a href="/SystemAdmin/CategoryList">流水帳分類管理</a></li>
      </ol>
     </nav>--></td>

				<td height="50px" width="1300px">
					<nav class="navbar navbar-light bg-light">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button"
								data-bs-toggle="collapse"
								data-bs-target="#navbarToggleExternalContent"
								aria-controls="navbarToggleExternalContent"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<form class="d-flex">
								<input class="form-control me-2" type="search"
									placeholder="Search" aria-label="Search"
									style="height: 50%; margin-top: 30px; display: inline-block; vertical-align: middle">
								<button class="btn btn-outline-success" type="submit"
									style="height: 50%; margin-top: 30px; display: inline-block; vertical-align: middle">Search</button>
                            <button type="button" th:onclick="|window.location.href='/logout-button'|" id="logout-button"> <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                           </svg> </button>
                              
							</form>
						</div>
					</nav>
				</td>
			</tr>
			<tr>
				<td valign="top"><br />
				<br />
					<div layout:fragment="content" class="container"></div></td>
			</tr>
		</table>
	</div>


	<!--  <div layout:fragment="content"></div>-->
</body>