<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout2.html}">
<head>
  <title>Account List</title>
   <script>
 $(function () { 
	 $("#tblCategory").tablepage($("#table_page"), 10); //TABLE換頁功能，""("#table_page"),"後面的數字是每一頁的筆數
 });
 </script>
</head>



<body>
<div layout:fragment="content">
   <h2>流水帳管理</h2>
		<form method="post" action="#" th:action="@{|AccountingList|}" id="form1">  		
   <table>
    <tr>
     <td>
        <a href="/SystemAdmin/AccountingList">流水帳紀錄</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
  </svg>
  流水帳管理
     </td>
    </tr>
    <tr>
     <td>
	  <a th:href="@{/SystemAdmin/AccountingDetail}">
	  <input type="button"  class="btn btn-outline-dark" name="btnCategoryAdd" value="Add" id="btnCategoryAdd" /></a> &nbsp;&nbsp;
      <input type="submit" class="btn btn-outline-dark" name="btnDel" value="Del" id="btnDel" />&emsp; &nbsp;&ensp;
      小計 [[${subtotal}]]元&nbsp;&nbsp; 當月小計 [[${subtotalofmonth}]]元
     </td>
    </tr>
    <tr>
     <td>
      <table>
   <tr>
    <td colspan="2">
     <h3>流水帳管理</h3>
     <span>流水帳紀錄 > 流水帳管理</span>
    </td>
   </tr>
   <tr>
		<td>
              <table cellspacing="0" cellpadding="4" id="tblCategory"
				style="color: #333333; border-collapse: collapse;">
				<tr style="color: White; background-color: #507CD1; font-weight: bold;">
					<th scope="col"></th>
					<th scope="col">建立日期</th>
					<th scope="col">分類</th>
					<th scope="col">收 / 支</th>
					<th scope="col">金額</th>
					<th scope="col">標題</th>
					<th scope="col">Act</th>
				</tr>
				<tr th:each="AccountingNoteInterFace:${AccountingNoteList}">
					<td><input type="checkbox" id="ckbDelete"
							name="ckbDelete"
							th:value=${AccountingNoteInterFace.getaccid()}></td>
					<td th:text="${AccountingNoteInterFace.getcreate_date()}">CreateDate</td>
					<td th:text="${AccountingNoteInterFace.getcategory_caption()} == NULL ? '未分類' : ${AccountingNoteInterFace.getcategory_caption()}">CategoryCaption</td>
					<td th:text="${AccountingNoteInterFace.getact_type()} == 1 ? '收入' : '支出'">ActType</td>
					<td th:styleappend="${AccountingNoteInterFace.getact_type()} == 1 ? 'color:Blue;' : 'color:Red;'"
						th:text="${AccountingNoteInterFace.getact_type()} == 1 ? ${AccountingNoteInterFace.getamount()} : '('+${AccountingNoteInterFace.getamount()}+')'">Amount
					</td>
					<td th:text="${AccountingNoteInterFace.getcaption()}">Caption</td>
					<td><a th:href="@{/SystemAdmin/AccountingDetail(accID=${AccountingNoteInterFace.getaccid()})}">Edit</a></td>
				</tr>


			</table> <span id="table_page"></span>
		</td>
	</tr>     
   </table>
   </tr>

     
   </table>
   </form>
</div>
</body>
</html>